<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.assignment.halloween"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.assignment.halloween.core.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.assignment.halloween.core.MenuActivity"></activity>
        <activity android:name="com.assignment.halloween.witch.GameoverActivity"></activity>
        <activity android:name="com.assignment.halloween.witch.StartWitchActivity"></activity>
        <activity android:name="com.assignment.halloween.witch.WitchActivity"></activity>
        <activity android:name="com.assignment.halloween.candy.StartCandyActivity"></activity>
        <activity android:name="com.assignment.halloween.bat.StartBatActivity"></activity>
        <activity android:name="com.assignment.halloween.bat.GameInterface"></activity>
        <activity android:name="com.assignment.halloween.bat.Success"></activity>
        <activity android:name="com.assignment.halloween.bat.Fail"></activity>
        <activity android:name="com.assignment.halloween.bat.Bat"></activity>
        <activity android:name="com.assignment.halloween.bat.Pumpkin"></activity>
        <activity android:name="com.assignment.halloween.bat.Ghost"></activity>
    </application>

</manifest>
